@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  font-weight: 400;
}
.poppin-900 {
  font-weight: 900;
}
.poppin-700 {
  font-weight: 700;
}
.poppin-600 {
  font-weight: 600;
}

.poppin-500{
  font-weight: 500;
}

.inputShadow{
  box-shadow: 0 0 15px 0.5px #00000016;;
}