@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  font-weight: 300;
}
.poppin-700 {
  font-weight: 700;
}
.poppin-600 {
  font-weight: 600;
}

.poppin-500{
  font-weight: 500;
}
.poppin-400 {
  font-weight: 400;
}
.inputShadow{
  box-shadow: 0 0 15px 0.5px #00000016;;
}

.loaderBg{
  background-color: rgba(101, 101, 101, 0.211);
}

.box{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  animation: loader 1.5s linear infinite;
}

.box1{
  background-color: greenyellow;
}

.box2{
  animation-delay: 200ms;
  background-color: rgb(40, 243, 131);
}

.box3{
  animation-delay: 400ms;
  background-color: rgb(40, 235, 238);
}

.box4{
  animation-delay: 600ms;
  background-color: rgb(47, 172, 255);
}

.box5{
  animation-delay: 800ms;
  background-color: rgb(29, 59, 255);
}

@keyframes loader{
  0%,100% {
    transform: translateX(0);
  }
  50% {
    transform: translateY(200%);
  }
}